streamlit==1.35.0 # Ou a versão mais recente que você preferir
pandas==1.5.3
numpy>=1.24.3
sqlalchemy==2.0.11
mysql-connector-python==8.0.30
matplotlib==3.7.1
seaborn==0.12.2
statsmodels==0.14.0
plotly==6.0.1
scipy==1.10.1
statsmodels==0.14.0
scikit-learn==1.2.2
joblib>=1.0.0
pmdarima==2.0.4
kaleido==0.2.1
holidays
logging
xlsxwriter